*,
html{
    margin: 0;
    padding: 0;
}

.container{
 
}

body{
    background-color: antiquewhite;
    /* height: 100vh; */
}

.container-navbar{
background-color:rgb(235, 106, 207);
width: 100%;
height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    font-size: 30px;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(255, 255, 255);

}   
  
.li-navbar:hover{
    background-color: rgb(244, 190, 247);
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 20px;

}

.a-navbar{
    color:white;
    text-decoration: none;
}

.container-content{
     height: 80vh;
     background-color: aliceblue ;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
     
     

} 

.a-content{
    width: 500px;
    background-color: black;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    
}
.img-content{
    padding: 5px;
    width: 400px;
     box-shadow: 11px 8px 17px 4px rgba(0,0,0,0.54);
    -webkit-box-shadow: 11px 8px 17px 4px rgba(0,0,0,0.54);
    -moz-box-shadow: 11px 8px 17px 4px rgba(0,0,0,0.54);
     border-radius: 80px;
}


.container-footer{
    height: 10vh;
    background-color: rgb(235, 106, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;

}

.alamat-link {
  text-decoration: none !important;  
  color: rgb(221, 137, 204); 
  font-size:25px;
  padding: 20px;
        
}

p{
 color: rgb(221, 137, 204); 
  font-size:20px;   
}